.main{
    width: 1450px;
    height: 650px;
    background-color: rgb(222, 136, 104);
    position: relative;
    margin-left: 30px;
}
h1{
    text-align: center;
}
img{
    height: 150px;
    width: 150px;
    text-align: center;
    margin-left: 200px;
}
p{
    padding-left: 15px;
}
span{
    background-color: yellow;
}
.child1{
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    left: 0px;
}
.child2{
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    position: absolute;
    bottom: 0px;
    
}
.child3{
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    position: absolute;
    top: 0px;
    left: 850px;
}
.child4{
    width: 600px;
    height: 300px;
    background-color: aquamarine;
    position: absolute;
    bottom: 0px;
    left: 850px;
}
p::first-letter{
    font-style: italic;
}
.child1:hover{
    background-color: blueviolet;
}
.child2:hover{
    background-color: blueviolet;
}
.child3:hover{
    background-color: blueviolet;
}
.child4:hover{
    background-color: blueviolet;
}
h1:hover{
    color: blueviolet;
}
p:hover{
    color: orange;
}
img:hover{
    width: 180px;
    height: 180px;
}
span:hover{
    color: red;
}
